@use "../../styles/partials/mixins" as *;

.navbar{
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet{
            flex-direction: row;
            align-items: center;
            height: 5rem;

        }
   
    &__logo{
        display: flex;
        width: 10rem;
        padding-bottom: 1rem;

        @include tablet{
            padding-left: 2rem;
            padding-right: 18%;
        }
        @include desktop{
            padding-left: 8rem;
            padding-right: 25%;
        }
    }

    &__container{
        display: flex;
        padding-bottom: 1rem;


        @include tablet{
            padding-bottom: 0;
        }
        @include desktop{
            padding-left: 26rem;
        }
    }

    &__search-img{
        position:relative;
        right: -1.5rem;
    }
    &__search{
        height: 2.5rem;
        padding-left: 2rem;
        border-radius: 5px;
        padding-right: 6rem;
        
        @include tablet{
            height: 3rem;
            margin-right: 2rem;
        }
        @include desktop{
            width: 15rem;
        }
    }

    &__pfp{
        border-radius: 50%;
        height: 3rem;
        width: 3rem;   
        margin-left:  1rem;

        @include tablet{
            position:absolute;
            right:1rem;
            height: 3.5rem;
            width: 3.5rem;  
        }
        @include desktop{
            right: 8rem;
        }
        
    }

    &__upload-button{
        display: flex;
        background-color: #0095FF;
        width: 80%;
        border-radius: 5px;
        justify-content: center;
        margin-bottom: 1rem;
        text-decoration: none;
        @include tablet{
            width: 20%;
            margin-bottom: 0;
        }
        @include desktop{
            width: 13rem;
        }
        
    }
    &__upload-img{
        position: relative;
        left : -3.5rem;
        @include tablet{
            left: -1.5rem;
        }
        
      
    }
    &__upload-text{
        color: white;
        display: flex;
        justify-content: center;
    }
    

}